# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.venv
dist
dist-react
dist-electron
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#service
serviceAccount.json

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Ignore all Python cache files globally
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore only cache files inside embedded Python
python_installer/python_windows/**/__pycache__/
python_installer/python_windows/**/*.pyc
python_installer/python_windows/**/*.pyo
python_installer/python_windows/**/*.pyd

# Do NOT ignore the full 'lib' and 'Scripts' folders!
!python_installer/python_windows/lib/
!python_installer/python_windows/Scripts/