/* Signup Page Styling */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700&display=swap');   /* For the font */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #121212;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121212;
  }
  
  .logo {
    position: absolute;
  top: 20px;
  left: 40px;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 150, 255, 0.8);
  }
    
  .signup-box{
    display: flex;
    flex-direction: column;
    background: rgba(30, 30, 30, 0.95);
    padding: 50px 70px;
    border-radius: 15px;
    border: 1px solid rgba(100, 100, 255, 0.3);
    box-shadow: 0 0 15px rgba(0, 150, 255, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
    align-items: center; 
  }
  .signup-box form{
    display: flex;
    flex-direction: column;
  }
  
  .signup-box h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .input-field {
    width: 350px !important;
    height: 50px;
    box-sizing: border-box;
    align-self: center; 
    padding: 12px;
    margin: 12px 0;
    font-size: 1rem;
    background: #181818;
    border: 2px solid #444;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    color: white;
  }
  
  .input-field::placeholder {
    color: #b0b0b0;
  }
  
  .signup-button {
    width: 350px !important;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #404046;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .signup-login {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555; /* Default text color */
    text-align: center;
  }
  
  .signup-login-link {
    font-weight: bold; /* Make the text bold */
    color: #4b4efc; /* Default link color */
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .signup-login-link:hover {
    color: #20216e; /* Change color on hover */
  }
  