/* Signup Page Styling */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');   /* For the font */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #f8f8f8;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .logo {
    position: absolute; /* Position the logo absolutely */
    top: 20px;          /* 20px from the top of the screen */
    left: 40px;         /* 20px from the left of the screen */
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px; /* Optional, can be removed */
  }
  
  .ask {
    color: #000000;
  }
  
  .vox {
    color: #4b4efc;
  }
  
  .signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    width: 350px;
  }
  
  .signup-box h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #000000;
  }
  
  .input-field {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    background-color: #f6f6f6;
  }
  
  .input-field::placeholder {
    color: #b0b0b0;
  }
  
  .signup-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #404046;
  }
  
  .error-message {
    color: #e74c3c;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }

  .signup-login {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555; /* Default text color */
    text-align: center;
  }
  
  .signup-login-link {
    font-weight: bold; /* Make the text bold */
    color: #4b4efc; /* Default link color */
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .signup-login-link:hover {
    color: #20216e; /* Change color on hover */
  }
  